#summary-body {
  .text-header {
    padding-bottom: 2px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    label {
      color: #2eb85c;
      font-size: 20px;
      font-weight: bold;
    }
  }
}


.div-a-link{
  cursor: pointer;
  color: #0645AD;
}

.div-a-link:link{
  text-decoration: none;
}
.div-a-link:hover{
  text-decoration: underline;
}

.div-a-link:active{
  text-decoration: underline;
}
