.dashboard-page {
  .text-title {
    > div {
      display: flex;
      align-items: center;
    }

    svg {
      height: 24px !important;
      width: 24px !important;
      color: #8cc63f;
      margin-right: 5px;
    }
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
