#summary-body {
  .text-header {
    padding-bottom: 2px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    label {
      color: #2eb85c;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
