#summary-body {
  .text-header {
    padding-bottom: 2px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    label {
      color: #2eb85c;
      font-size: 20px;
      font-weight: bold;
    }
  }
}


.div-a-link{
  cursor: pointer;
  color: #0645AD;
}

.div-a-link:link{
  text-decoration: none;
}
.div-a-link:hover{
  text-decoration: underline;
}

.div-a-link:active{
  text-decoration: underline;
}

#components-transfer-demo-table-transfer .ant-table td {
  background: transparent;
}


// .ant-btn > .anticon {
//   line-height: -20 !important;
// }


.ant-btn-icon-only.ant-btn-sm {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  font-size: 5px !important;
  border-radius: 2px !important;
}