// // Here you can add other styles
// @font-face {
//   font-family: "Sarabun";
//   src: local("Sarabun"),
//     url(../assets/fonts/Sarabun-Light.ttf) format("truetype");
// }

// @font-face {
//   font-family: "Sarabun-SemiBold";
//   src: local("Sarabun-SemiBold"),
//     url(../assets/fonts/Sarabun-SemiBold.ttf) format("truetype");
// }

// @font-face {
//   font-family: "Sarabun-Bold";
//   src: local("Sarabun-Bold"),
//     url(../assets/fonts/Sarabun-Bold.ttf) format("truetype");
// }

// @font-face {
//   font-family: "Sarabun-Regular";
//   src: local("Sarabun-Regular"),
//     url(../assets/fonts/Sarabun-Regular.ttf) format("truetype");
// }

// button,
// input,
// select,
// textarea,
// a,
// p,
// label,
// span,
// td,
// tr,
// div {
//   font-family: Sarabun;
// }

// h1,
// h2,
// h3 {
//   font-family: Sarabun-SemiBold;
// }

// h4,
// h5 {
//   font-family: Sarabun-Bold;
// }

// Here you can add other styles
@font-face {
  font-family: "Prompt";
  src: local("Prompt"), url(../assets/fonts/Prompt-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-SemiBold";
  src: local("Prompt-SemiBold"),
    url(../assets/fonts/Prompt-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-Bold";
  src: local("Prompt-Bold"),
    url(../assets/fonts/Prompt-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-Regular";
  src: local("Prompt-Regular"),
    url(../assets/fonts/Prompt-Regular.ttf) format("truetype");
}

button,
input,
select,
textarea,
a,
p,
label,
span,
td,
tr,
div {
  font-family: Prompt;
}

h1,
h2,
h3 {
  font-family: Prompt-SemiBold;
}

h4,
h5 {
  font-family: Prompt-Bold;
}

.page-item.active .page-link {
  background-color: #39f;
  border-color: #39f;
}

thead {
  background-color: lightblue;
}

.page-link {
  color: #39f;
}

.badge {
  padding: 0.5em 0.4em !important;
  width: 100%;
}

.badge-warning {
  color: white !important;
}

.form-group label {
  font-family: Sarabun-SemiBold;
}

.c-sidebar {
  // background-color: #333333;
  background-color: #ffffff;
}

.c-sidebar .c-sidebar-brand {
  color: #000000;
  background: #ffffff;
}

.c-sidebar-brand-full {
  height: 60px;
  // background-image: url('./../assets/icons/logoDGA.png');
  width: 70px;
  // background-color: #cccccc;
}

.c-header .c-header-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.c-login-brand {
  height: 180px;
  width: 180px;
}

.c-sidebar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.draftBackGround {
  background-color: white !important;
}

.c-sidebar-nav-item-sub {
  padding-left: 8px;
  font-size: 13px;
}

.local-font {
  font-family: "Kanit", sans-serif !important;
}

.modal-container-custom {
  display: flex !important;
}

.svd-popup-editor-tab-general {
  div.form-group {
    div[data-property="visible"],
    div[data-property="readOnly"],
    div[data-property="inputType"],
    div[data-property="autoComplete"] {
      display: none;
    }
  }
}
.modal-dialog-custom {
  width: 700px;
  border: 2px solid #000;
  padding: 16px 32px 24px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin: auto;
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background: #8cc63f;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #fff;
  background: #88ad58;
}
// .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
// 	color: #fff;
// 	background: #8CC63F;
// }

.c-sidebar-nav-dropdown.c-show {
  .c-sidebar-nav-dropdown-toggle {
    background: #8cc63f;
    color: #fff;
  }
}
.c-show a .c-sidebar-nav-icon {
  color: #fff !important;
}
.c-sidebar .c-sidebar-nav-title {
  color: #8cc63f;
}

.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: #8cc63f;
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: #8cc63f;
}

.c-header {
  color: #fff;
  background: #8cc63f;
}
.c-header .c-header-nav .c-header-nav-link,
.c-header .c-header-nav .c-header-nav-btn {
  color: #fff;
}
.c-header .c-header-toggler {
  color: #fff;
  border-color: #fff;
}

thead {
  background-color: #d1e8b2;
}
